:root {
	--bg: #e8e8e8;
	--header: #e8e8e8;
	--header-link: #474747;
	--header-link-hover: #666666;
	--text: #212226;
	--link: #505052;
	--link-hover: #757575;
	--bg-photo: #ffa502;
}
html {
	background-color: var(--bg);
}
h1, h2, h3, h4, h5, h6, p {
	font-family: 'RobotoRegular', sans-serif;
}
body {
	font-family: 'RobotoRegular', sans-serif;
	color: var(--text);
}
a {
	color: var(--header-link);
	transition: 0.25s ease;
	text-decoration: none;
}
a:hover, a:focus {
	color: var(--link-hover);
}
.uk-container {
	max-width: 1400px;
	max-block-size: 1400px;
}
header {
	background: var(--header);
	font-family: 'RobotoBold', sans-serif;
	font-size: 16px;
	padding: 20px 0px;
	box-shadow: 0 14px 25px rgba(0,0,0,.16);
}
.logo {
	block-size: 40px;
	inline-size: 40px;
	width: 40px;
	height: 40px;
}
.m-right-10 a {
	text-decoration: none;
	text-transform: uppercase;
}
.list-menu {
	padding: 0px 20px;
}
.m-right-10 a:hover, .m-right-10 a:focus {
	color: var(--header-link-hover);
	border-width: 0px 0px 4px 0px;
	border-style: solid;
	border-color: #b99b03;
	padding: 27px 0px;

}
.photo {
	background-color: var(--bg-photo);
	padding: 20px 0px;
}
.uk-marker {
	background: #009ee0;
	padding: 1px;
}
.swap {
  display: flex;
  justify-content: space-between;
}
.t-name {
	padding: 3px 6px;
	background-color: #755703;
	display: flex;
	justify-content: center;
	font-family: 'RobotoBold', sans-serif;
	margin-bottom: 10px;
	border-radius: 2px;
	color: #fbfbfb;
}
.info {
	background-color: #fbfbfb;
}
.main-info {
	display: flex;
	justify-content: center;
}
.main-info h2 {
	text-transform: uppercase;
	margin: 0px;
}
.line {
	height: 15px;
	block-size: 15px;
	width: 30%;
	inline-size: 30%;
	background-color: #b99b03;
	margin: auto;
	margin-bottom: 20px;

}
.block-info {
	text-align: center;
	padding: 50px 10px;
	transition: 0.25s ease;
}
.block-info:hover, .block-info:focus {
	background-color: #ffa502;
	color: #fbfbfb;
	cursor: pointer;
}
.block-info h2:hover, .block-info h3:focus {
	color: #fff;
}
.block-info span svg {
	height: 60px;
	width: 60px;
}
.p-top20 {
	padding-top: 20px;
	padding-block-start: 20px;
}
.uk-card-default {
	transition: 0.25s ease;
}
.uk-card-default:hover, .uk-card-default:focus {
	background-color: #ffa502;
	color: #fbfbfb;
	cursor: pointer;
	font-family: 'RobotoBold', sans-serif;
}
footer{
	background-color:#ffa502;
}